{% extends 'main.html' %}

{% block content %}

<div class="registration-form">
	 <div class="container">
		 <h2>Авторизация</h2>
         <div class="col-md-6 reg-form">
             <div class="reg">
				 <p>Добро пожаловать. Авторизуйтесь чтобы продолжить.</p>
				 <p>Если Вы еще не зарегистрированы на нашем сайте, <a href="/registration">нажмите "Регистрация"</a></p>
				 {% if error %}
                     <span style="color: red;">Email address or Password is incorrect!</span>
                 {% endif %}
                     <form action="/login" method="post">
                         {% csrf_token %}
                         <h5>Email address:</h5>
                         <input type="text" value="">
                         <h5>Password:</h5>
                         <input type="password" value="">
                         <input type="submit" value="Войти">
                     </form>
		     </div>
         </div>
     </div>
</div>

{% endblock %}