{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h1 align="center">Приветствуем Вас в интернет-магазине Craft Project</h1>
    <h2>Главное в работе для нас</h2>
    <p>
    <b>КАЧЕСТВО</b> - Современный рынок наводнён массой товаров, которые не рассчитаны на долгий срок службы, однако,
    в сфере строительства и ремонта плохое качество одного использованного элемента может серьёзно повлиять
    на окружающий быт в целом. Потому мы предлагаем Вашему вниманию только те российские и международные бренды,
    качество которых подтверждено соответствием международным и российским стандартам, которые пользуются многолетним
    доверием потребителей благодаря экологичности, долговечности своей продукции. Мы гарантируем качество товара.
    Это позволяет делать покупки у нас не только частным лицам, но организациям и учреждениям.
    </p><br>
    <p>
    <b>НАДЁЖНОСТЬ</b> - Благодаря многолетнему сотрудничеству с ведущими заводами - изготовителями и поставщиками,
    большому количеству складов, с которыми мы постоянно работаем, наличию собственной логистики и автопарка наши
    покупатели без задержек получают востребованный товар. В каждом регионе страны услугами нашего магазина пользуются
    постоянные покупатели, которые оказывают помощь нашим новым заказчикам в получении товаров в случае их пожелания.
    </p><br>
    <p>
    <b>ВАША ВЫГОДА</b> - Наши цены и предложения рассчитаны на покупателей с любым уровнем достатка и притязаний! Если цена на
    плитку показалась Вам высокой, не торопитесь уходить с нашего сайта, - мы готовы обсуждать цены и скидки с каждым
    заказчиком!
    </p><br>
    <p>
    <b>СКОРОСТЬ</b> - Мы обеспечиваем доставку до объекта в кратчайшие сроки или к определённому дню.
    </p>
    <h2>Наши цели</h2>
    <ul>
    <li>
        выпускать лучшую по качеству продукцию на рынке;
    </li>
    <li>
        постоянно расширять ассортимент фактур;
    </li>
    <li>
        выдерживать конкурентные цены, а также полноту и своевременность поставок при работе с клиентами;
    </li>
    <li>
        развивать гибкую систему логистики;
    </li>
    <li>
        заключать с клиентами соглашения о длительном сотрудничестве.
    </li>
    </ul>
</div>
{% endblock %}