{% extends 'main.html' %}

{% block content %}
<div class="contact">
	 <div class="container">
		 <div class="contact-head">
				<h2>Контакты</h2>
				<p>Решили купить все необходимое в интернет-магазине, но не знаете, как оформить покупку?
                    Не смогли найти интересующие материалы в каталоге? Хотите уточнить детали вашего заказа?
                    Любые вопросы, которые касаются заказов в интернет-магазине Craft Project,
                    вы можете задать по телефону: </p>
		 </div>
		 <div class="col-md-4 company_address">
			 <h3>Адрес:</h3>
			 <p>улица Скрыганова 14,</p>
			 <p>220002,</p>
			 <p>Минск Беларусь</p>

			 <p class="number">Телефон:+375(29) 222 66 44</p>
			 <p>Факс: (000) 000 00 00 0</p>
			 <p>Почта: <a href="">craft-project@gmail.com</a></p>
			 <p>Следи за нами: <a href="#">Facebook</a>, <a href="#">Twitter</a></p>
		 </div>
		 <div class="clearfix"></div>
			<!---->
			<div class="map">
				 <h5>Мы находимся здесь</h5>
                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d830.9501620471013!2d27.522608146107714!3d53.90896501639941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcf90a9621fc1%3A0xda97311536089fd3!2z4q2Q77iPINCe0LHRgNCw0LfQvtCy0LDRgtC10LvRjNC90YvQuSDRhtC10L3RgtGAINCf0JLQoiDigKIgSVQtQWNhZGVteSDQnNC40L3RgdC6!5e0!3m2!1sru!2sby!4v1581103472041!5m2!1sru!2sby" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			</div>
			<!---->
	 </div>
</div>
{% endblock %}