{% load static %}


<div class="header">
	 <div class="container">
		 <div class="header-left">
			 <div class="top-menu">
				 <ul>
				 <li class="active"><a href="main">Главная</a></li>
				 <li><a href="panel">3d Панели</a></li>
				 </ul>
			 </div>
		 </div>

		 <div class="header-right">
			 <div class="cart-sec">
				 {% if user.is_authenticated %}
				 <a href="">Корзина<span id="basket_total_amount"></span><span id="basket_total_nmb">
					 {% if products_total_nmb %}
					     ({{ products_total_nmb }})
					 {% else %}
					     (0)
					 {% endif %}
				 </span></a>
				 <div class="basket-items hidden">
					 <ul class="">
						 {% for product_in_basket in products_in_basket %}
                                <li>
                                    {{ product_in_basket.product.name }} {{ product_in_basket.nmb }} шт.
                                    по {{ product_in_basket.price_per_item }} грн.
                                    <a class="delete-item" href="" data-product_id="{{ product_in_basket.id }}">x</a>
                                </li>
                            {% endfor %}

					 </ul>

				 </div>
			 </div>
			 <div class="signin">

				  <ul>
					 <li><a href="">{{user}}</a> <span>/<span> &nbsp;</li>
					 <li><a href="/logout"> Выйти</a></li>
				 </ul>
                     {% else %}
				  <ul>
					 <li><a href="registration">Регистрация</a> <span>/<span> &nbsp;</li>
					 <li><a href="login"> Войти</a></li>
				 </ul>
                     {% endif %}

			 </div>
		 </div>

		 <div class="clearfix"></div>
	 </div>
</div>